<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.asiainfo.mybatis_demo.mapper.UserMapper">

    <!--    `````````````````````````````````````````````````````` 一对一查询 ，一个用户一个 身份证号 关联的嵌套结果映射 `````````````````````````````````````````````  -->
<!--    <select id="findUserById" resultMap="userMap" parameterType="integer">-->
<!--        SELECT * FROM tb_user JOIN tb_id_card ON tb_user.id_card_ref = tb_id_card.id_card_id-->
<!--        where user_id = #{userId}-->
<!--    </select>-->
<!--    <resultMap id="userMap" type="com.asiainfo.mybatis_demo.entity.User">-->
<!--        <id property="userId" column="user_id"/>-->
<!--        <result property="userName" column="user_name"/>-->
        <!--    开始，-->
        <!--此部分第一种方法-->
<!--        <association property="idCardRef" javaType="com.asiainfo.mybatis_demo.entity.IdCard">-->
<!--            <id property="idCardId" column="id_card_id"/>-->
<!--            <result property="idCardNumber" column="id_card_number"/>-->
<!--        </association>-->

        <!--        此部分，第二种方法 -->
<!--        <association property="idCardRef" column="id_card_ref" resultMap="idCardResult" javaType="com.asiainfo.mybatis_demo.entity.IdCard"/>-->
        <!--这个 resultMap 需要移到根元素为 mapper 下-->
<!--        <resultMap id="idCardResult" type="com.asiainfo.mybatis_demo.entity.IdCard">-->
<!--            <id property="idCardId" column="id_card_id"/>-->
<!--            <result property="idCardNumber" column="id_card_number"/>-->
<!--        </resultMap>-->
<!--    </resultMap>-->

    <!--````````````````````````````````````````````````````` 一对一 关联的嵌套 Select 查询，懒加载优势 `````````````````````````````````````````````````-->

    <!--    <resultMap id="userResult" type="com.asiainfo.mybatis_demo.entity.User">-->
    <!--        <id property="userId" column="user_id"/>-->
    <!--        <result property="userName" column="user_name"/>-->
    <!--        <association property="idCardRef" column="id_card_ref" javaType="com.asiainfo.mybatis_demo.entity.IdCard" select="findIdCardById" />-->
    <!--    </resultMap>-->

    <!--    <select id="findUserById" resultMap="userResult" parameterType="integer">-->
    <!--        SELECT * FROM tb_user where user_id = #{userId}-->
    <!--    </select>-->

    <!--    <select id="findIdCardById" resultType="com.asiainfo.mybatis_demo.entity.IdCard" parameterType="integer" >-->
    <!--        SELECT * FROM `tb_id_card` where id_card_id = #{idCardId}-->
    <!--    </select>-->

<!--   ``````````````````````````````````````````` //     传入一个对象，执行插入，返回生成的主键 ````````````````````````````-->

    <select id="findAllUser" resultType="com.asiainfo.mybatis_demo.entity.User">
        select * from tb_user
    </select>
</mapper>